
/* Your CSS Code here. */
body{
	height:100vh;
}
.item{
	width:100%;
	height:100%;
	display:flex;
	flex-direction:collumn;
	justify-content:center;
	align-items:center;
}
#item-1{
	width:100px;
	height:100px;
	background-color:yellow;
	display:flex;
	flex-direction:collumn;
	justify-content:center;
	align-items:center;
}
